---
import Layout from "../layouts/layout.astro"
import Intro from "../components/Intro.astro"
import ContactForm from "../components/ContactForm.vue"
---

<Layout title="Get in touch" description="Are you looking for a freelance Javascript developer? Let us get in touch and I will build you a highly perfomant web application">
  <Intro 
    background="/images/laptop.webp"
    title="Let's Connect"
    description="Get in touch with me and I'll be happy to talk back to you"
  />
  <section class="py-6 my-4">
    <div class="grid place-content-center place-items-center w-full">
      <ContactForm 
        client:load
        url={import.meta.env.PUBLIC_CMS}
      />
    </div>
  </section>
</Layout>
