---
import {Directus} from "@directus/sdk"
import Layout from "../../layouts/layout.astro"
import Intro from "../../components/Intro.astro"

// src/pages/portfolio/[slug].astro
export async function getStaticPaths() {
  const data_url = import.meta.env.PUBLIC_CMS_LOCATION
  const directus = new Directus(data_url)
  const portfolio_data = await directus.items('portfolio').readByQuery({
    filter:{
      "_and":[
        {
          "status":{
            "_eq":"published"
          }
        }
      ]
    },
    limit:-1,
    sort:"-date_created",
    fields:['slug']
  })

  const portfolio = portfolio_data.data

  let store = []

  portfolio.map((item) => {
    let data = {}
    data.params = {}
    data.params.slug = item.slug
    store.push(data)
  })
  
  return store
}

const {slug} = Astro.params
const data_url = import.meta.env.PUBLIC_CMS_LOCATION
const directus = new Directus(data_url)

const portfolio_data = await directus.items('portfolio').readByQuery({
  filter:{
    "_and":[
      {
        "status":{
          "_eq":"published"
        }
      },
      {
        "slug":{
          "_eq":slug
        }
      }
    ]
  }
})

const portfolio = portfolio_data.data[0]
---

<Layout title="Uzziel Tech Portfolio">
  <Intro 
    background="/images/laptop.webp"
    title="My Portfolio"
    description="Take a look at all the projects I have already done"
  />
  <section class="container mx-auto p-4 mt-12 mb-6">
    <div class="grid">
      <div class="prose dark:prose-invert px-6 py-8 space-y-6 rounded-sm sm:p-8 lg:p-12 dark:bg-black" set:html={portfolio.description}></div>
    </div>
  </section>
</Layout>
